<div>
  <h1>Simple calculator</h1>
  <table>
    <tr>
      <td colspan="4">
        <input type="text" name="display" id="display" disabled value="{{sum}}">

      </td>
    </tr>
    <tr>
      <td><input type="button" name="one" value="1" (click)="add('1')"></td>
      <td><input type="button" name="two" value="2" (click)="add('2')"></td>
      <td><input type="button" name="three" value="3" (click)="add('3')"></td>
      <td><input type="button" class="operator" name="plus" value="+" (click)="add('+')"></td>
    </tr>
    <tr>
      <td><input type="button" name="four" value="4" (click)="add('4')"></td>
      <td><input type="button" name="five" value="5" (click)="add('5')"></td>
      <td><input type="button" name="six" value="6" (click)="add('6')"></td>
      <td><input type="button" class="operator" name="minus" value="-" (click)="add('-')"></td>
    </tr>
    <tr>
      <td><input type="button" name="seven" value="7" (click)="add('7')"></td>
      <td><input type="button" name="eight" value="8" (click)="add('8')"></td>
      <td><input type="button" name="nine" value="9" (click)="add('9')"></td>
      <td><input type="button" class="operator" name="times" value="x" (click)="add('*')"></td>
    </tr>
    <tr>
      <td><input type="button" id="clear" name="clear" value="c" (click)="reset()"></td>
      <td><input type="button" name="zero" value="0" (click)="add('0')"></td>
      <td><input type="button" name="doit" value="=" (click)="calculate()"></td>
      <td><input type="button" class="operator" name="div" value="/" (click)="add('/')"></td>

    </tr>
  </table>
</div>
